<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Discord_Custom_Status.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Discord_Custom_Status.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>1166755301312180294</value>
            </setting>
            <setting name="LargeImageKey" serializeAs="String">
                <value>_premium_</value>
            </setting>
            <setting name="LargeImageText" serializeAs="String">
                <value>Premium Plus</value>
            </setting>
            <setting name="SmallImageKey" serializeAs="String">
                <value>verified</value>
            </setting>
            <setting name="SmallImageText" serializeAs="String">
                <value>Verified</value>
            </setting>
            <setting name="Details" serializeAs="String">
                <value>Online Shop</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>premiumplus-il.com</value>
            </setting>
            <setting name="PartyIn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PartyMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Party" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomLargeImgKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomLargeImgText" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomSmallImgKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomSmallImgText" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomDetails" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomState" serializeAs="String">
                <value />
            </setting>
            <setting name="Button1Label" serializeAs="String">
                <value>Check our github</value>
            </setting>
            <setting name="Button1Url" serializeAs="String">
                <value>https://yawaflua.ru/r/gh</value>
            </setting>
            <setting name="Button2Label" serializeAs="String">
                <value>Check our github</value>
            </setting>
            <setting name="Button2Url" serializeAs="String">
                <value>https://github.com/rafael1209</value>
            </setting>
        </Discord_Custom_Status.Properties.Settings>
    </userSettings>
</configuration>
